streamlit
pymupdf  # For reading PDFs
pypdf  # Alternative for PDF manipulation
pdfplumber  # If extracting text from PDFs
pandas  # If working with tabular data
speechrecognition  # If voice processing is used
pyttsx3  # If text-to-speech is used
nltk
deep_translator
gtts
transformers
TensorFlow 2.0 
PyTorch
python-docx
torch
pillow
requests
sentencepiece
